body {
    background-color: darkolivegreen;
    font-family: 'Piazzolla', serif;
    font-weight: bold;
}

.titles {
    font-size: 50px;
    margin-bottom: 0px;
    text-align: center;
}

.subtitles {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
    color: navy;
}